.badge {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  border-radius: 3px;
  padding: 0 6px;
  color: white;
  margin-right: 5px;
  background-color: #42b983;
  text-transform: uppercase;
}

.middle {
  vertical-align: middle;
}

.top {
  vertical-align: top;
}
.tip,
.green {
  background-color: #42b983;
}
.error {
  background-color: #da5961;
}
.warning,
.warn,
.yellow {
  background-color: #e7c000;
}
