.custom-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}

.custom-block-heading {
  font-weight: 600;
}

.custom-block-tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}

.custom-block-warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}

.custom-block-warning .custom-block-heading {
  color: #b29400;
}

.custom-block-danger {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}

.custom-block-danger .custom-block-heading {
  color: #900;
}

.custom-block-body p {
  margin: 0 0 8px 0;
}
